# 第1章
## 00. 文字列の逆順
文字列"stressed"の文字を逆に（末尾から先頭に向かって）並べた文字列を得よ

In [0]:
word = "stressed"
word[::-1]

'desserts'

## 01. 「パタトクカシーー」
「パタトクカシーー」という文字列の1,3,5,7文字目を取り出して連結した文字列を得よ

In [0]:
word_1 = "パタトクカシーー"
word_1[0::2]

'パトカー'

## 02. 「パトカー」＋「タクシー」＝「パタトクカシーー」
「パトカー」＋「タクシー」の文字を先頭から交互に連結して文字列「パタトクカシーー」を得よ．

In [0]:
pato = "パトカー"
taxi = "タクシー"
merge_word = ""

for w_1, w_2 in zip(pato,taxi):
    merge_word += w_1 + w_2
merge_word

'パタトクカシーー'

## 03. 円周率
"Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."という文を単語に分解し，各単語の（アルファベットの）文字数を先頭から出現順に並べたリストを作成せよ．

In [0]:
sentence = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
words = [len(x)  for x in sentence.split(" ")]
words

[3, 1, 4, 1, 6, 9, 2, 7, 5, 3, 5, 8, 9, 7, 10]

## 04. 元素記号
"Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."という文を単語に分解し，1, 5, 6, 7, 8, 9, 15, 16, 19番目の単語は先頭の1文字，それ以外の単語は先頭に2文字を取り出し，取り出した文字列から単語の位置（先頭から何番目の単語か）への連想配列（辞書型もしくはマップ型）を作成せよ．

In [0]:
contents = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
genso_list = contents.split(" ")
split_head = [1, 5, 6, 7, 8, 9, 15, 16, 19]

genso_map = dict()
for ind, genso in enumerate(genso_list):
    if ind + 1 in split_head:
        sgn = genso[0]
    else:
        sgn = genso[0:2]
    genso_map[sgn] = ind + 1

genso_map

{'Al': 13,
 'Ar': 18,
 'B': 5,
 'Be': 4,
 'C': 6,
 'Ca': 20,
 'Cl': 17,
 'F': 9,
 'H': 1,
 'He': 2,
 'K': 19,
 'Li': 3,
 'Mi': 12,
 'N': 7,
 'Na': 11,
 'Ne': 10,
 'O': 8,
 'P': 15,
 'S': 16,
 'Si': 14}

## 05. n-gram
与えられたシーケンス（文字列やリストなど）からn-gramを作る関数を作成せよ．この関数を用い，"I am an NLPer"という文から単語bi-gram，文字bi-gramを得よ．

In [0]:
def generate_ngram(sentense, mode):
    if mode == "word":
        return word_bi_gram(sentense)
    elif mode == "char":
        return char_bi_gram(sentense)
    else:
        raise ValueError("Plase choice word mode or char mode .")

def word_bi_gram(sentense):
    word_list = sentense.split(" ")
    bi_gram = list()
    total_cnt = len(word_list)
    for ind, word in enumerate(word_list):
        if ind + 1 == total_cnt:
            w = word
        else:
            w = word + " " + word_list[ind + 1]
        bi_gram.append(w)
    return bi_gram
            
def char_bi_gram(sentense):
    words = sentense.replace(" ", "")
    bi_gram = list()
    total_cnt = len(words)
    for ind, word in enumerate(list(words)):
        if ind + 1 == total_cnt:
            w = word
        else:
            w = word + words[ind + 1]
        bi_gram.append(w)
    return bi_gram
          
snt = "I am an NLPer"
print(generate_ngram(snt, mode="word"))
print(generate_ngram(snt, mode="char"))

['I am', 'am an', 'an NLPer', 'NLPer']
['Ia', 'am', 'ma', 'an', 'nN', 'NL', 'LP', 'Pe', 'er', 'r']

## 06. 集合
"paraparaparadise"と"paragraph"に含まれる文字bi-gramの集合を，それぞれ, XとYとして求め，XとYの和集合，積集合，差集合を求めよ．さらに，'se'というbi-gramがXおよびYに含まれるかどうかを調べよ．

In [0]:
word_6_1 = "paraparaparadise"
word_6_2 = "paragraph"
target = {"se"}

X = generate_ngram(word_6_1, mode="char")
Y = generate_ngram(word_6_2, mode="char")

xy_sum = set(X) | set(Y)
xy_inter = set(X) & set(Y)
xy_diff = set(X) ^ set(Y)
print('XとYの和集合は ', xy_sum)
print('XとYの積集合は ', xy_inter)
print('XとYの差集合は ', xy_diff)
print(target, ' => X: ', target <= set(X))
print(target, ' => Y: ', target <= set(Y))

XとYの和集合は  {'se', 'ra', 'di', 'h', 'pa', 'ph', 'ag', 'gr', 'ap', 'e', 'is', 'ad', 'ar'}
XとYの積集合は  {'pa', 'ra', 'ap', 'ar'}
XとYの差集合は  {'se', 'di', 'h', 'ph', 'gr', 'e', 'is', 'ad', 'ag'}
{'se'}  => X:  True
{'se'}  => Y:  False

## 07. テンプレートによる文生成
引数x, y, zを受け取り「x時のyはz」という文字列を返す関数を実装せよ．さらに，x=12, y="気温", z=22.4として，実行結果を確認せよ．

In [0]:
def generate_template(x, y, z):
    return '{0}時の{1}は{2}'.format(x, y, z)
  
generate_template(12, "気温", 22.4)

12時の気温は22.4

## 08. 暗号文
与えられた文字列の各文字を，以下の仕様で変換する関数cipherを実装せよ．

* 英小文字ならば(219 - 文字コード)の文字に置換
* その他の文字はそのまま出力

この関数を用い，英語のメッセージを暗号化・復号化せよ．

In [0]:
def cipher(word):
    replaced_word = list()
    for ind in range(len(word)):
        if word[ind].islower():
            replaced_word.append(chr(219 - ord(word[ind])))
        else:
            replaced_word.append(word[ind])
    return "".join(replaced_word)

cipher("12werT")

12dviT

## 09. Typoglycemia
スペースで区切られた単語列に対して，各単語の先頭と末尾の文字は残し，それ以外の文字の順序をランダムに並び替えるプログラムを作成せよ．ただし，長さが４以下の単語は並び替えないこととする．適当な英語の文（例えば"I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."）を与え，その実行結果を確認せよ．

In [0]:
import random

def random_sentense(sentense):
    words = sentense.split(" ")
    if len(words) <= 4:
        return " ".join(words)
    first_word = words.pop(0)
    last_word = words.pop(-1)
    random.shuffle(words)
    words.insert(0, first_word)
    words.append(last_word)
    return " ".join(words)

sentense_9 = "I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."
random_sentense(sentense_9)

"I that power mind I phenomenal was of reading the could actually believe I couldn't understand what : the human ."

# 第2章
hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．
## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [0]:
len(open("hightemp.txt").readlines())

24

In [0]:
! cat hightemp.txt | wc -l

24

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [0]:
import re
import codecs

with codecs.open("hightemp.txt", "r", "utf-8") as f:
    row = f.readline()
    replaced_data = list()
    while row:
        replaced_data.append(row.translate(str.maketrans({"\t": " "})))
        row = f.readline()
replaced_data

['高知県 江川崎 41 2013-08-12\n',
 '埼玉県 熊谷 40.9 2007-08-16\n',
 '岐阜県 多治見 40.9 2007-08-16\n',
 '山形県 山形 40.8 1933-07-25\n',
 '山梨県 甲府 40.7 2013-08-10\n',
 '和歌山県 かつらぎ 40.6 1994-08-08\n',
 '静岡県 天竜 40.6 1994-08-04\n',
 '山梨県 勝沼 40.5 2013-08-10\n',
 '埼玉県 越谷 40.4 2007-08-16\n',
 '群馬県 館林 40.3 2007-08-16\n',
 '群馬県 上里見 40.3 1998-07-04\n',
 '愛知県 愛西 40.3 1994-08-05\n',
 '千葉県 牛久 40.2 2004-07-20\n',
 '静岡県 佐久間 40.2 2001-07-24\n',
 '愛媛県 宇和島 40.2 1927-07-22\n',
 '山形県 酒田 40.1 1978-08-03\n',
 '岐阜県 美濃 40 2007-08-16\n',
 '群馬県 前橋 40 2001-07-24\n',
 '千葉県 茂原 39.9 2013-08-11\n',
 '埼玉県 鳩山 39.9 1997-07-05\n',
 '大阪府 豊中 39.9 1994-08-08\n',
 '山梨県 大月 39.9 1990-07-19\n',
 '山形県 鶴岡 39.9 1978-08-03\n',
 '愛知県 名古屋 39.9 1942-08-02\n']

In [0]:
! sed "s/\t/ /g" hightemp.txt > hightemp_replaced.txt && cat hightemp_replaced.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [0]:
import codecs

with codecs.open("hightemp.txt", "r", "utf-8")  as f,  \
    codecs.open("col1.txt", "w", "utf-8") as col_1, codecs.open("col2.txt", "w", "utf-8") as col_2:
    row = f.readline()
    while row:
        words = row.split("\t")
        col_1.write(words[0] + "\n")
        col_2.write(words[1] + "\n")
        row = f.readline()

In [0]:
! cut -f 1  hightemp.txt > col1_cmd.txt && cut -f 2  hightemp.txt > col2_cmd.txt

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [0]:
import codecs

with codecs.open("col1.txt", "r", "utf-8") as f_1, \
    codecs.open("col2.txt", "r", "utf-8") as f_2, codecs.open("merge.txt", "w", "utf-8") as out_f:
    col1_word = f_1.readline().strip()
    col2_word = f_2.readline().strip()
    while col1_word and col2_word:
        out_f.write(col1_word + "\t" + col2_word + "\n")
        col1_word = f_1.readline().strip()
        col2_word = f_2.readline().strip()

In [0]:
!paste col1.txt col2.txt > merge.txt

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [23]:
import codecs

def is_int(val):
    try:
        int(val)
        return True
    except:
        return False
    
row_num = input("出力したい行数を入力してください: ")
if not is_int(row_num):
    raise ValueError("数字を入力してください")
row = int(row_num)
if row <= 0:
    raise ValueError("1以上の数字を入力してください")
    
with codecs.open("hightemp.txt", "r", "utf-8") as f:
    for i in range(row):
        data = f.readline().strip()
        print(data)

出力したい行数を入力してください: 3
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

In [23]:
!head -n 3 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [19]:
import codecs

def is_int(val):
    try:
        int(val)
        return True
    except:
        return False
    
row_num = input("出力したい行数を入力してください: ")
if not is_int(row_num):
    raise ValueError("数字を入力してください")
row = int(row_num)
if row <= 0:
    raise ValueError("1以上の数字を入力してください")
    
with codecs.open("hightemp.txt", "r", "utf-8") as f:
    print("".join(f.readlines()[-1 * row:]))

出力したい行数を入力してください: 3
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [7]:
!tail -n 3 hightemp.txt

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [61]:
import codecs

def is_int(val):
    try:
        int(val)
        return True
    except:
        return False
    
def split_row_count(total_count, split_count):
    row_ave_count = total_count // split_count
    count_up_num = total_count % split_count
    return [row_ave_count + 1] * count_up_num + [row_ave_count] * (split_count - count_up_num)
    
row_num = input("分割数を入力してください: ")
if not is_int(row_num):
    raise ValueError("数字を入力してください")
row = int(row_num)
if row <= 0:
    raise ValueError("1以上の数字を入力してください")
    
with codecs.open("hightemp.txt", "r", "utf-8") as f:
    all_data = f.readlines()
    for ind, offset in enumerate(split_row_count(len(all_data), row)):
        file_name = "split_{}.txt".format(ind + 1)
        print(file_name)
        with codecs.open(file_name, "w", "utf-8") as out_f:
            out_f.write("".join(all_data[offset * ind:offset * (ind + 1)]))

分割数を入力してください: 5
split_1.txt
split_2.txt
split_3.txt
split_4.txt
split_5.txt

In [0]:
! split -l 5 hightemp.txt split_cmd_

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [3]:
import codecs

def get_column_data(list_data, column_num, delimiter=","):
    target_column_data = list()
    for data in list_data:
        target_column_data.append(data.split(delimiter)[column_num - 1])
    return target_column_data

def to_uniq(list_data):
    return list(set(list_data))

with codecs.open("hightemp.txt", "r", "utf-8")  as f:
    data = f.readlines()
uniq_data = to_uniq(get_column_data(data, 1, delimiter="\t"))
print(uniq_data)

['愛媛県', '岐阜県', '愛知県', '埼玉県', '和歌山県', '千葉県', '山梨県', '大阪府', '山形県', '高知県', '静岡県', '群馬県']

In [11]:
! cut -f 1 hightemp.txt | sort | uniq

千葉県
和歌山県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [18]:
!pip install pandas

import pandas as pd

import re


df = pd.read_csv("hightemp.txt", sep='\t', header=None)
df.sort_index(axis=1, level=2)

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

       0     1     2           3
0    高知県   江川崎  41.0  2013-08-12
1    埼玉県    熊谷  40.9  2007-08-16
2    岐阜県   多治見  40.9  2007-08-16
3    山形県    山形  40.8  1933-07-25
4    山梨県    甲府  40.7  2013-08-10
5   和歌山県  かつらぎ  40.6  1994-08-08
6    静岡県    天竜  40.6  1994-08-04
7    山梨県    勝沼  40.5  2013-08-10
8    埼玉県    越谷  40.4  2007-08-16
9    群馬県    館林  40.3  2007-08-16
10   群馬県   上里見  40.3  1998-07-04
11   愛知県    愛西  40.3  1994-08-05
12   千葉県    牛久  40.2  2004-07-20
13   静岡県   佐久間  40.2  2001-07-24
14   愛媛県   宇和島  40.2  1927-07-22
15   山形県    酒田  40.1  1978-08-03
16   岐阜県    美濃  40.0  2007-08-16
17   群馬県    前橋  40.0  2001-07-24
18   千葉県    茂原  39.9  2013-08-11
19   埼玉県    鳩山  39.9  1997-07-05
20   大阪府    豊中  39.9  1994-08-08
21   山梨県    大月  39.9  1990-07-19
22   山形県    鶴岡  39.9  1978-08-03
23   愛知県   名古屋  39.9  1942-08-02

In [21]:
!sort -k 3,3 hightemp.txt

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
愛知県	名古屋	39.9	1942-08-02
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
山形県	酒田	40.1	1978-08-03
千葉県	牛久	40.2	2004-07-20
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [30]:
import codecs

def get_column_data(list_data, column_num, delimiter=","):
    target_column_data = list()
    for data in list_data:
        target_column_data.append(data.split(delimiter)[column_num - 1])
    return target_column_data

with codecs.open("hightemp.txt", "r", "utf-8") as f:
    data = f.readlines()

word_dic = dict()
for word in  get_column_data(data, 1, delimiter="\t"):
    if word in word_dic.keys():
        word_dic[word] += 1
    else:
        word_dic[word] = 1
word_sorted = sorted(word_dic.items(), key=lambda x:x[1], reverse=True)
print(word_sorted)

[('埼玉県', 3), ('山形県', 3), ('山梨県', 3), ('群馬県', 3), ('岐阜県', 2), ('静岡県', 2), ('愛知県', 2), ('千葉県', 2), ('高知県', 1), ('和歌山県', 1), ('愛媛県', 1), ('大阪府', 1)]

In [35]:
!cut -f 1 hightemp.txt  | sort | uniq -c | sort -r

      3 群馬県
      3 山梨県
      3 山形県
      3 埼玉県
      2 静岡県
      2 愛知県
      2 岐阜県
      2 千葉県
      1 高知県
      1 愛媛県
      1 大阪府
      1 和歌山県

# 第3章
Wikipediaの記事を以下のフォーマットで書き出したファイルjawiki-country.json.gzがある．
* 1行に1記事の情報がJSON形式で格納される
* 各行には記事名が"title"キーに，記事本文が"text"キーの辞書オブジェクトに格納され，そのオブジェクトがJSON形式で書き出される
* ファイル全体はgzipで圧縮される

以下の処理を行うプログラムを作成せよ．

## 20. JSONデータの読み込み
Wikipedia記事のJSONファイルを読み込み，「イギリス」に関する記事本文を表示せよ．問題21-29では，ここで抽出した記事本文に対して実行せよ．